<router-outlet>
<div>
    <tabset>
        <tab heading="Bookshelf" id="tab1">
        <accordion id="bookshelf-div">
            <div *ngFor="let abook of bookshelf; index as i;">
            <accordion-group heading="{{abook.title}}">
                <div>UPC: {{abook.upc}}</div>
                <div>Page: {{abook.current_page}} of {{abook.all_pages}}</div>
                <div>Notes: <div class="border">{{abook.notes}}</div></div>
            </accordion-group>
            </div>
        </accordion>
        </tab>
        <tab heading="Loaned">
            <accordion id="loaned-div">
                <div *ngFor="let abook of loaned; index as i;">
                <accordion-group heading="{{abook.title}}">
                    <div>UPC: {{abook.upc}}</div>
                    <div>Page: {{abook.current_page}} of {{abook.all_pages}}</div>
                    <div>Notes: <div class="border">{{abook.notes}}</div></div>
                </accordion-group>
                </div>
            </accordion>
            </tab>
        <tab heading="Wishlist">
            <accordion id="wishlist-div">
                <div *ngFor="let abook of wishlist; index as i;">
                <accordion-group heading="{{abook.title}}">
                    <div>UPC: {{abook.upc}}</div>
                    <div>Page: {{abook.current_page}} of {{abook.all_pages}}</div>
                    <div>Notes: <div class="border">{{abook.notes}}</div></div>
                </accordion-group>
                </div>
            </accordion>
        </tab>
    </tabset>
    {{this.exampleTest}} : {{testResponse}}<br>
</div>
<div class="position-absolute bottom-0 end-0">
    <button class="btn btn-danger position-relative m-2 p-3" (click)="removeBook()">- Remove Book</button>
    <button class="btn btn-info position-relative m-5 p-3" (click)="addBook()">+ New Book</button>
</div>

<footer></footer>
</router-outlet>