
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross Click')">

          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="bkTitle" class="col-sm-2 control-label" >Title:</label>
            <input name="bkTitle" [(ngModel)]="bookTitle" class="mb-2 col-sm-5" placeholder=""><br>

            <label for="bkAuthor" class="col-sm-2 control-label" placeholder="">Author: </label>
            <input name="bkAuthor" [(ngModel)]="bookAuthor" class="col-sm-5 mb-2"><br>

            <label for="bkUPC" class="col-sm-2 control-label">UPC: </label>
            <input name="bkUPC" [(ngModel)]="bookUPC" class="col-sm-5 mb-2"><br>

            <label for="bkPages" class="col-sm-2 control-label">Pages: </label>
            <input name="bkPages" [(ngModel)]="bookPages" class="col-sm-4 mb-2" ><br>

            <label for="bkCurrentPage" class="col-sm-2 control-label">Current Page: </label>
            <input name="bkCurrentPage" [(ngModel)]="bookCurrentPage" class="col-sm-4 mb-2" ><br>

            <label for="bkNotes" class="col-sm-2 control-label">Notes: </label>
            <div class="col-sm-7">
              <textarea class="form-control" id="bkNotes" [(ngModel)]="bookNotes" class="col-sm-30" placeholder=""></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.close()">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveBook()">Save</button>
        </div>
