
<div class="d-flex align-items-center justify-content-center text-center">
{{title}}<br>
</div>
<div class="d-flex align-items-center justify-content-center text-center">
    <button [routerLink]="'books'" type="button" class="btn btn-primary btn-xlg">Books</button>
</div><br>
<div class="d-flex align-items-center justify-content-center text-center">
    <button type="button" class="btn btn-primary btn-xlg">Movies</button>
</div><br>
<div class="d-flex align-items-center justify-content-center text-center">
    <button [routerLink]="'alcohol'" type="button" class="btn btn-primary btn-xlg">Alcohol</button>
</div>